<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Detect CVE - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="../Static/vendor/css/my.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    <link href="/Static/vendor/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    <style>
        /* Estilos adicionales */
        body {
            background-color: #f8f9fa;
        }

        .card {
            border-radius: 15px;
        }

        h2 {
            color: #007bff;
        }

        /* Estilos adicionales para la tabla */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1rem;
            color: #212529;
            background-color: transparent;
        }

        th,
        td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            white-space: normal;
            /* Permite que el texto se ajuste automáticamente */
        }

        th {
            background-color: #f8f9fa;
            border-color: #dee2e6;
        }

        tbody th {
            background-color: #f8f9fa;
            font-weight: bold;
        }

        tbody tr:nth-of-type(even) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        tbody tr:hover {
            background-color: rgba(0, 0, 0, 0.075);
        }

        .dashboard-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* Tres columnas de igual tamaño */
            grid-gap: 20px;
            /* Espacio entre tarjetas */
            padding: 20px;
            /* Espacio alrededor de la grilla */
        }

        .card {
            display: flex;
            flex-direction: column;
            background: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #007bff;
            /* Azul */
            color: white;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            /* Centra el título */
        }

        #result {
            max-height: 300px;
            /* Establece una altura máxima para el área de resultados */
            overflow-y: auto;
            /* Permite desplazamiento vertical si el contenido es demasiado grande */
            margin-top: 20px;
            /* Espacio por encima del resultado para una mejor visualización */
        }

        canvas {
            width: 100% !important;
            max-height: 500px;
            /* Controla la altura del gráfico */
        }

        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
            /* Centra los elementos hijos horizontalmente */
        }

        #vulnerabilityPieChart {
            width: 70% !important;
            max-width: 500px;
            height: auto !important;
            /* Mantiene la proporción */
        }

        .counter-container {
            background-color: #f8f9fa;
            /* Color de fondo suave */
            border: 1px solid #dee2e6;
            /* Borde sutil */
            border-radius: 10px;
            /* Bordes redondeados */
            padding: 20px;
            /* Espaciado interno */
            margin-top: 20px;
            /* Espaciado superior */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Sombra suave para profundidad */
        }

        .counter {
            font-size: 3rem;
            /* Tamaño de fuente grande */
            color: #0d6efd;
            /* Color de Bootstrap 'primary' */
            font-weight: bold;
            /* Negrita para mayor impacto */
        }

        .container {
            max-width: 600px;
            /* Ajusta esto según el ancho deseado del contenedor */
        }

        .counter-container,
        .machine-container {
            background-color: #f8f9fa;
            /* Color de fondo suave */
            border: 1px solid #dee2e6;
            /* Borde sutil */
            border-radius: 10px;
            /* Bordes redondeados */
            padding: 30px;
            /* Espaciado interno aumentado */
            margin-top: 20px;
            /* Espaciado superior */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Sombra suave para profundidad */
            width: 100%;
            /* Asegura que ocupe todo el ancho disponible */
        }

        .counter,
        .machine-name {
            font-size: 4rem;
            /* Tamaño de fuente aumentado */
            color: #0d6efd;
            /* Color de Bootstrap 'primary' */
            font-weight: bold;
            /* Negrita para mayor impacto */
        }
    </style>
</head>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 w-100"
                        style="text-align: center;">
                        <h4 class="h5 mb-0 font-weight-bold text-gray-800 ml-5"
                            style="text-transform: uppercase; margin-left: calc(5rem + 60px);">DASHBOARD DE
                            VULNERABILIDADES</h4>
                    </div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow img">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">UCundinamarca</span>
                                <img class="img-profile rounded-circle h-75 w-50" src="/Static/Assests/uc.png">
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Title body -->
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-xl-8 col-md-6 mb-4 text-center">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs text-info text-uppercase mb-1">
                                            VULNERABILIDADES EN EL MUNDO</div>

                                        <div class="row no-gutters align-items-center text-center">
                                            <div class="col text-center">
                                                <h4 class="h5 mb-0 font-weight-bold text-gray-800"
                                                    style="text-transform: uppercase;">Nicolás Torres Rodriguez y Juan
                                                    David Moreno</h4>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row justify-content-center">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Low</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">20%
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div class="progress-bar bg-info" role="progressbar"
                                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Low</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">20%
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div class="progress-bar bg-info" role="progressbar"
                                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Medium</div>

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">High
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Critical</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div class="progress-bar bg-info" role="progressbar"
                                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Content Row -->

                    <div class="container-fluid">
                        <div class="dashboard-grid">
                            <!-- Métricas 1-9 -->
                            <!-- Celda 1 -->
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="text-center"><i class="fas fa-chart-bar"></i> Categorización de
                                        Computadores</h2>
                                    <canvas id="myChart" style="max-height: 400px;"></canvas>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $.getJSON('/data', function (data) {
                                        var ctx = document.getElementById('myChart').getContext('2d');
                                        var myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: data,
                                            options: {
                                                scales: {
                                                    y: {
                                                        beginAtZero: true
                                                    }
                                                },
                                                plugins: {
                                                    legend: {
                                                        position: 'top',
                                                        labels: {
                                                            padding: 20,
                                                            font: {
                                                                size: 14
                                                            }
                                                        }
                                                    }
                                                },
                                                responsive: true,
                                                maintainAspectRatio: false
                                            }
                                        });
                                    });
                                });
                            </script>

                            <!-- Celdas 2-9 -->
                            <!-- Repetir este bloque para cada métrica ajustando el título y contenido según sea necesario -->
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="text-center"><i class="fas fa-chart-bar"></i> Población de municipios
                                    </h2>
                                    <canvas id="poblacionChart" style="max-height: 400px;"></canvas>
                                </div>
                            </div>
                            <script>
                                fetch('/data3')
                                    .then(response => response.json())
                                    .then(data => {
                                        var ctx = document.getElementById('poblacionChart').getContext('2d');
                                        var poblacionChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: data,
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true
                                                        }
                                                    }]
                                                }
                                            }
                                        });
                                    });
                            </script>
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="text-center"><i class="fas fa-chart-bar"></i> Consulta de CVE</h2>
                                    <form id="cveForm" class="mt-4">
                                        <div class="mb-3">
                                            <label for="cve_id" class="form-label">CVE ID</label>
                                            <input type="text" class="form-control" id="cve_id" name="cve_id" required>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-2">Consultar</button>
                                            <button type="button" class="btn btn-danger"
                                                onclick="clearResults()">Borrar</button>
                                        </div>
                                    </form>
                                    <div id="loading" class="text-center"
                                        style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 40px;">
                                        <i class="fas fa-circle-notch fa-spin" style="color: #007bff;"></i>
                                        <!-- Cambiado a un ícono diferente para una mejor animación -->
                                    </div>
                                    <div id="result" style="display: none;">
                                        <!-- Los resultados de la consulta se mostrarán aquí -->
                                    </div>
                                </div>
                            </div>

                            <script>
                                document.getElementById('cveForm').addEventListener('submit', function (event) {
                                    event.preventDefault();
                                    const cveId = document.getElementById('cve_id').value;
                                    showLoading(true);
                                    fetch(`/api/cve/${cveId}`)
                                        .then(response => {
                                            if (!response.ok) {
                                                throw new Error('CVE no encontrado');
                                            }
                                            return response.json();
                                        })
                                        .then(({ data, cvss_score }) => {
                                            const resultDiv = document.getElementById('result');
                                            resultDiv.innerHTML = `
                                        <h2 class="text-center">Resultado de consulta</h2>
                                        <div class="table-responsive">
                                            <table class="table mt-4">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">CVE ID</th>
                                                        <th scope="col">Descripción</th>
                                                        <th scope="col">Publicado</th>
                                                        <th scope="col">Última modificación</th>
                                                        <th scope="col">CVSS Score</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>${data.id}</td>
                                                        <td>${data.summary}</td>
                                                        <td>${data.Published}</td>
                                                        <td>${data.Modified}</td>
                                                        <td>${cvss_score}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    `;
                                            showLoading(false);
                                        })
                                        .catch(error => {
                                            console.error('Error:', error);
                                            document.getElementById('result').innerHTML = '<div class="alert alert-danger" role="alert">' + error.message + '</div>';
                                            showLoading(false);
                                        });
                                });

                                function clearResults() {
                                    document.getElementById('result').innerHTML = ''; // Limpia el contenido del div de resultados
                                    document.getElementById('cve_id').value = ''; // Limpia el campo de entrada del CVE ID
                                    showLoading(false);
                                }

                                function showLoading(show) {
                                    document.getElementById('loading').style.display = show ? 'block' : 'none';
                                    document.getElementById('result').style.display = show ? 'none' : 'block';
                                }
                            </script>

                            <div class="card">
                                <div class="card-body">
                                    <h2 class="text-center"><i class="fas fa-chart-bar"></i> Gráfico de Líneas de
                                        Vulnerabilidades</h2>
                                    <canvas id="line-chart" style="max-height: 85%;"></canvas>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $.getJSON('/data2', function (data) {
                                        var labels = data.map(function (item) {
                                            return item.mes;
                                        });

                                        var values = data.map(function (item) {
                                            return item.valor;
                                        });

                                        var ctx = document.getElementById('line-chart').getContext('2d');
                                        var myChart = new Chart(ctx, {
                                            type: 'line',
                                            data: {
                                                labels: labels,
                                                datasets: [{
                                                    label: 'Cantidad de Vulnerabilidades',
                                                    data: values,
                                                    fill: true,
                                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                                    borderColor: 'rgba(255, 99, 132, 1)',
                                                    borderWidth: 2,
                                                    tension: 0.4
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                scales: {
                                                    y: {
                                                        beginAtZero: true,
                                                        title: {
                                                            display: true,
                                                            text: 'Cantidad de Vulnerabilidades'
                                                        }
                                                    },
                                                    x: {
                                                        title: {
                                                            display: true,
                                                            text: 'Mes'
                                                        }
                                                    }
                                                },
                                                interaction: {
                                                    mode: 'index',
                                                    intersect: false
                                                },
                                                hover: {
                                                    mode: 'nearest',
                                                    intersect: true
                                                },
                                                plugins: {
                                                    tooltip: {
                                                        callbacks: {
                                                            label: function (context) {
                                                                var label = context.dataset.label || '';
                                                                if (label) {
                                                                    label += ': ';
                                                                }
                                                                label += context.parsed.y;

                                                                if (context.parsed.y !== null) {
                                                                    var index = context.dataIndex;
                                                                    var currentMonth = data[index];
                                                                    var previousMonth = data[index - 1] || { valor: currentMonth.valor };
                                                                    var percentageChange = ((currentMonth.valor - previousMonth.valor) / (previousMonth.valor || 1)) * 100;
                                                                    var comparison = currentMonth.valor > previousMonth.valor ? 'aumento' : 'disminución';
                                                                    label += ' (' + comparison + ' del ' + Math.abs(percentageChange).toFixed(2) + '% respecto a ' + (previousMonth.mes || 'inicio') + ')';
                                                                }
                                                                return label;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        });

                                        // Ajustar el tamaño del canvas al contenedor
                                        function resizeCanvas() {
                                            var canvas = document.getElementById('line-chart');
                                            canvas.style.width = '100%';
                                            canvas.style.height = canvas.parentElement.offsetHeight + 'px';
                                        }

                                        // Llamar a resizeCanvas() cuando cambie el tamaño de la ventana
                                        window.addEventListener('resize', resizeCanvas, false);

                                        // Llamar a resizeCanvas() una vez al principio para establecer el tamaño inicial
                                        resizeCanvas();
                                    });
                                });
                            </script>
                            <div class="card">
                                <div class="card shadow">
                                    <div class="card-body text-center">
                                        <h2 class="text-center"><i class="fas fa-chart-bar"></i> Total de
                                            Vulnerabilidades</h2>
                                        <div class="counter-container">
                                            <div id="vulnerabilityCount" class="counter">Cargando...</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow mt-4">
                                    <div class="card-body text-center">
                                        <h2 class="text-center"><i class="fas fa-chart-bar"></i> Máquina Más Vulnerable
                                        </h2>
                                        <div class="machine-container">
                                            <div id="mostVulnerableMachine" class="machine-name">Cargando...</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow mt-4">
                                    <div class="card-body text-center">
                                        <h2 class="text-center"><i class="fas fa-chart-bar"></i> Máquina Menos
                                            Vulnerable</h2>
                                        <div class="machine-container">
                                            <div id="leastVulnerableMachine" class="machine-name">Cargando...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    fetch('/data5')
                                        .then(response => response.json())
                                        .then(data => {
                                            document.getElementById('vulnerabilityCount').textContent = data.total_vulnerabilities;
                                        })
                                        .catch(error => console.error('Error al cargar los datos de vulnerabilidades:', error));

                                    fetch('/data6')
                                        .then(response => response.json())
                                        .then(data => {
                                            document.getElementById('mostVulnerableMachine').textContent = data.machine_name;
                                        })
                                        .catch(error => console.error('Error al cargar los datos de la máquina más vulnerable:', error));

                                    fetch('/data7')
                                        .then(response => response.json())
                                        .then(data => {
                                            document.getElementById('leastVulnerableMachine').textContent = data.machine_name;
                                        })
                                        .catch(error => console.error('Error al cargar los datos de la máquina menos vulnerable:', error));
                                });

                            </script>
                                <div class="card">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <h2 class="text-center">Top Vulnerabilidades</h2>
                                            <canvas id="vulnerabilitiesChart"></canvas>
                                            <div class="table-responsive" style="height: 340px; overflow-y: scroll;">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Vulnerabilidad</th>
                                                            <th>Severidad</th>
                                                            <th>Descripción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="vulnerabilitiesTable"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <script>
                                    document.addEventListener("DOMContentLoaded", function() {
                                        fetch('/top-vulnerabilities')
                                            .then(response => response.json())
                                            .then(data => {
                                                const ctx = document.getElementById('vulnerabilitiesChart').getContext('2d');
                                                const names = data.map(v => v.name);
                                                const severities = data.map(v => v.severity);
                                                const colors = [ // Definiendo un arreglo de colores
                                                    'rgba(255, 159, 64, 0.2)', // Naranja claro
                                                    'rgba(54, 162, 235, 0.2)', // Azul claro
                                                    'rgba(255, 206, 86, 0.2)', // Amarillo claro
                                                    'rgba(75, 192, 192, 0.2)', // Verde agua
                                                    'rgba(153, 102, 255, 0.2)', // Violeta
                                                    'rgba(255, 99, 132, 0.2)', // Rosa
                                                    'rgba(199, 199, 199, 0.2)', // Gris
                                                    'rgba(83, 102, 255, 0.2)', // Azul oscuro
                                                    'rgba(40, 159, 64, 0.2)', // Verde oscuro
                                                    'rgba(143, 162, 235, 0.2)'  // Azul pastel
                                                ];
                                                const borderColors = colors.map(color => color.replace('0.2', '1')); // Ajustando la opacidad para bordes
                                                const chart = new Chart(ctx, {
                                                    type: 'doughnut',
                                                    data: {
                                                        labels: names,
                                                        datasets: [{
                                                            label: 'Severidad',
                                                            data: severities,
                                                            backgroundColor: colors,
                                                            borderColor: borderColors,
                                                            borderWidth: 1
                                                        }]
                                                    }
                                                });
                                
                                                const tableBody = document.getElementById('vulnerabilitiesTable');
                                                data.forEach(v => {
                                                    const row = `<tr><td>${v.name}</td><td>${v.severity}</td><td>${v.description}</td></tr>`;
                                                    tableBody.innerHTML += row;
                                                });
                                            })
                                            .catch(error => console.error('Error al cargar los datos:', error));
                                    });
                                </script>
                                

</body>

</html>